@import "../styles/_variables.scss";

// post editor, custom meta box tempat wisata
.kp_form {
  .form-group {
    display: flex;
    align-items: center;

    &.tall {
        align-items: flex-start;
    }

    p {
      flex: 0 0 100px;

      &::after {
        content: ":";
        margin-left: 3px;
      }
    }

    label {
      margin-left: 30px;
    }

    .devide {
        display: flex;
        flex-wrap: wrap;
        padding-top: 1em;
        width: 100%;
    }

    .devide label {
        width: calc(100% / 3 - 30px);
        line-height: 25px;
    }

    &.datepicker label:first-of-type:after {
      content: "-";
      margin-left: 30px;
    }
  }

  .gmap label {
    padding: 10px 0;
    display: inline-block;
    width: 100%;
    line-height: 30px;
  }

  .gmap label input {
      width: calc(100% - 300px);
  }
}


// list quick editor
#wpbody-content .inline-edit-row-post.quick-edit-row {
    .colspanchange {
        position: relative;
    }

    .inline-edit-col-center {
        width: 100%;
        float: none;

        .inline-edit-col {
            display: flex;
        }

        .inline-edit-col ul {
            width: 100%;
        }

        span {
            transform: rotate(293deg);
            width: 300px;
            height: 0px;
            display: flex;
            position: relative;
            left: 0px;
            top: 23px;
            margin: 0;
            padding: 0;
            font-size: 120%;
        }
    }

    .inline-edit-col-right {
        position: absolute;
        top: 30px;
        right: 0;
        width: 55%;
    }
}

@media screen and (max-width: 782px) {
    .kp_form {
        .form-group {
            label {
              line-height: 40px;
            }
        }
    }
}

@media screen and (max-width: $screen-md) {
    .kp_form {
        .form-group {
            .devide label {
                width: calc(100% / 2 - 30px);
            }
        }
    }
}
