.aj-cp article {

    a {
        color: $primary-background-color;

        &:hover {
            color: $primary-border-color;
            text-decoration: underline;
        }
    }

    .published a {
        color: $dark;

        &:hover {
            color: $dark;
            text-decoration: none;
        }
    }

    time.updated {
        display: inline-block !important;

        &::before {
            content: " - update:";
            margin: 0 0.5em;
        }
    }
}

@media screen and (min-width: $screen-sm) {
    // detail page
    .aj-cp article {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-start;

        header.entry-header {
            width: 100%;
        }

        .sidebar {
            width: 20em;
        }

        .sidebar .adsense {
            width: 100%;
            min-height: 100px;
        }

        .entry-content {
            width: calc(100% - #{20em + $gutter-d});
            margin: 0;
        }
    }

    // list view / archive
    .list-view {
        .post-thumbnail {
            width: 10em;
            float: left;
            box-shadow: $box-shadow;
            margin: 5px $padding $gutter-m 0;
        }
    }
}

@media screen and (min-width: $screen-md) {
    // detail page
    .aj-cp article {
        .sidebar {
            width: 21em;
        }

        .sidebar .adsense {
            min-height: 280px;
        }

        .entry-content {
            width: calc(100% - #{21em + $gutter-d});
        }
    }

    // list view / archive
    .list-view {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;

        .entry-header {
            width: 100%;
        }

        .post-thumbnail {
            float: none;
            margin: 5px 0 0;
        }

        .entry-content {
            width: 100%;
        }

        &.has-post-thumbnail .entry-content {
            width: calc(100% - #{$padding + 10em});
            margin: 0;
        }
    }
}
