.aj-cp article {
    a {
        color: $primary-background-color;

        &:hover {
            color: $primary-border-color;
            text-decoration: underline;
        }
    }

    .published a {
        color: $dark;

        &:hover {
            color: $dark;
            text-decoration: none;
        }
    }

    time:first-child:before {
        display: none;
    }

    time.updated {
        display: inline-block !important;

        &::before {
            content: " - update:";
            margin: 0 0.5em;
        }
    }
}

.relasi_tempat_wisata {
    .tile-container {
        display: flex;
        flex-wrap: wrap;
        margin: 0 $gutter-m * -1;
    }

    .tile {
        width: 100%;
        box-shadow: $box-shadow;
        padding: $gutter-d;
        margin: 0 $gutter-m $gutter-d;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .tile .detail {
        display: flex;
        flex-direction: column;
    }

    .tile h3,
    .tile p {
        margin: 0;
    }

    .tile em {
        margin-bottom: $padding;
    }

    .tile .lead_img {
        width: calc(100% + #{$gutter-d * 2});
        margin-left: $gutter-d * -1;
        margin-top: $gutter-d * -1;
        box-shadow: none;

        &:hover,
        &:hover img {
            box-shadow: none;
        }
    }

    .tile .read_more {
        margin-top: auto;
        padding-top: $gutter-d;
        text-align: right;
    }

    .read_more a {
        box-shadow: none;
    }
}

@media screen and (min-width: $screen-sm) {
    .aj-cp article {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-start;

        header.entry-header {
            width: 100%;
        }

        .sidebar {
            width: 20em;
        }

        .sidebar .adsense {
            width: 100%;
            min-height: 100px;
        }

        .entry-content {
            width: calc(100% - #{20em + $gutter-d});
            margin: 0;
        }
    }

    .relasi_tempat_wisata {
        .tile {
            width: calc(50% - 2em);
        }

        .tile:nth-last-child(1):nth-child(odd) {
            flex-direction: row;
            width: 100%;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            padding: 0;
            position: relative;

            .lead_img {
                width: 40%;
                height: 100%;
                margin: 0;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .lead_img img {
                max-width: none;
                min-height: 100%;
                height: 100%;
                width: 100%;
            }

            .detail {
                width: calc(60% - 4em);
                margin-right: 2em;
            }

            .read_more {
                position: absolute;
                left: 0;
                bottom: 0;
                background: #fff;
                padding: 1em;
            }
        }
    }
}

@media screen and (min-width: $screen-md) {
    .aj-cp article {
        .sidebar {
            width: 21em;
        }

        .sidebar .adsense {
            min-height: 280px;
        }

        .entry-content {
            width: calc(100% - #{21em + $gutter-d});
        }
    }
}
