.listing-wide {
    max-width: $screen-lg;
}

.full_width_content .content-area {
    max-width: 100% !important;
}

.filter-listing {
    .row {
        display: flex;
        flex-direction: column;
    }

    .filter {
        background: #fff;
        width: 100%;

        .filter-field {
            margin-bottom: 1px;
        }

        .filter_group {
            margin-bottom: 20px;
        }

        label {
            font-weight: normal;
        }

        select {
            width: 100%;
        }

        .info {
            font-size: 90%;
            font-style: italic;
            margin-top: -5px;
            display: block;
        }

        .search .info {
            margin: 0;
        }
    }

    .row_filter {
        margin-bottom: 1px;
    }

    .view_type {
        display: flex;

        button {
            width: 100%;
            margin: 0;
            height: 45px;
            border-radius: 0;

            &:first-child {
                border-top-left-radius: $border-radius;
                border-bottom-left-radius: $border-radius;
            }

            &:last-child {
                border-top-right-radius: $border-radius;
                border-bottom-right-radius: $border-radius;
            }
        }
    }

    .list-container {
        flex: 0 0 100%;
    }

    .tile-container {
        .tile {
            margin: 0 0 20px;
            position: relative;
            overflow: hidden;
        }

        .lead_img {
            display: block;
            overflow: hidden;
            position: relative;
            height: 100vw;
            max-height: 230px;
            margin-bottom: 10px;
        }

        .lead_img img {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }

        .detail {
            display: flex;
            flex-direction: column;
        }

        .detail h3 {
            font-size: 1.2em;
        }

        .detail small {
            margin-bottom: 10px;
            opacity: 0.7
        }

        .detail p {
            margin-bottom: 10px;
        }
    }

    .map-list-container {
        border-top: solid 1px #f1f1f1;
        max-height: 300px;
        overflow: auto;
        position: relative;

        .list {
            display: flex;
            border-bottom: solid 1px #f1f1f1;
            padding: 10px 10px 5px 0;
            cursor: pointer;

            &.active,
            &:hover {
                background: #f1f1f1;
            }
        }

        .list h3 {
            margin: 0;
        }

        .list a {
            box-shadow: none;

            &:hover {
                box-shadow: none;
            }
        }

        .lead_img {
            flex: 0 0 70px;
            margin-left: 10px;
        }

        .lead_img a {
            display: block;
        }

        .lead_img .star {
            margin: 0;
        }

        .lead_img .star span {
            width: 70px;
        }

        .detail {
            width: 100%;
        }

        .anchor .icon {
            width: 30px;
            height: 30px;
            color: $primary-background-color;
        }
    }

    .google_map_react {
        min-height: 300px;
    }
}

.info-window-container {
    width: 250px;

    .preview {
        width: 250px;
    }

    .preview img {
        max-width: 100%;
    }

    h5 {
        margin: 0;
        padding: 0;
    }
}

@media screen and (max-width: $screen-sm - 0.05) {
    .filter-listing {
        .tile-container {
            .lead_img {

                &,
                &:hover {
                    box-shadow: none;
                }
            }
        }
    }
}

@media screen and (min-width: $screen-sm) {
    .filter-listing {
        .row {
            flex-direction: row;
            justify-content: flex-start;
            margin-bottom: 20px;
        }

        .tile-container {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -10px;

            .tile {
                width: calc(33.33% - 20px);
                display: flex;
                flex-direction: column;
                box-shadow: 2px 2px 7px -2px rgba(0,0,0,.3);
                margin: 0 10px 40px;
            }

            .lead_img {
                height: calc(100vw / 5 - 10px);
                max-height: 190px;
                flex-shrink: 0;
            }

            .detail {
                padding: 0 10px;
                height: 100%;
            }

            .detail .info {
                margin-top: auto;
            }

            .detail .desc {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                transform: translateX(100%);
                transition: transform 0.18s ease;
                padding: 15px;
                z-index: 1;

                &:hover {
                    transform: translateX(0%);
                }

                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    background: #fff;
                    opacity: 0.97;
                }

                p {
                    position: relative;
                    z-index: 2;
                }
            }

            .detail .plus {
                width: 3px;
                height: 100px;
                display: block;
                position: absolute;
                right: 2px;
                bottom: 4px;
                border-right: solid 1px $primary-background-color;

                &::after,
                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    right: 1px;
                    top: 50%;
                    width: 1px;
                    height: 20px;
                    background: $primary-border-color;
                    transform: translateY(-50%);
                }

                &::after {
                    right: 3px;
                }

                &:hover + .desc {
                    transform: translateX(0%);
                }
            }
        }

        .row_sort {
            .filter-field {
                margin-left: 10px;
            }

            .search {
                margin-left: 0;
            }

            .sort {
                order: 2;
                margin-left: auto;
            }

            .view_type {
                order: 1;
            }
        }

        .map-container {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
        }

        .map-list-container {
            flex: 0 0 320px;
            max-height: 500px;

            h3 {
                font-size: 1.1em;
            }
        }

        .google_map_react {
            flex: 0 0 calc(100% - 320px);
            height: 500px;
        }
    }
}

@media screen and (min-width: $screen-md) {
    .filter-listing {
        .filter {
            flex: 0 0 250px;
            position: static;
            width: auto;
            padding: 0;

            .filter-togle {
                display: none;
            }
        }

        .list-container {
            flex: 0 0 calc(100% - 280px);
        }

        .map-list-container {
            max-height: 550px;
        }

        .google_map_react {
            height: 550px;
        }
    }
}
