// variables
@import "_variables.scss";
@import "_mixin.scss";

// theme
@import "_navigation.scss";
@import "_detail-sidebar.scss";
@import "_detail-article.scss";
@import "_list-article.scss";
@import "_filter-listing.scss";
@import "_dropdown.scss";
@import "_footer.scss";
@import "_pagination.scss";

.wrap {
    padding: 0 $gutter-m;
}

.post-thumbnail a {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.star-rate-more {
    display: flex;
    padding: 1em 0 0;
    align-items: center;
    justify-content: space-between;

    p {
        margin: 0;
    }
}

.star {
    span {
        width: 80px;
        display: flex;
        height: 16px;
        justify-content: space-between;
        color: gold;
        overflow: hidden;
        position: relative;

        &.star-1 svg:nth-child(n+2) {
            opacity: 0.1;
        }

        &.star-2 svg:nth-child(n+3) {
            opacity: 0.1;
        }

        &.star-3 svg:nth-child(n+4) {
            opacity: 0.1;
        }

        &.star-4 svg:nth-child(n+5) {
            opacity: 0.1;
        }

        &.star-5 svg:nth-child(n+6) {
            opacity: 0.1;
        }
    }
}

.cta-btn-con {
    flex-wrap: wrap;
}

.cta-btn {
    background-color: $primary-background-color;
    color: $primary-color;
    border: solid 1px $primary-border-color;
    border-radius: 3px;
    padding: 0.3em 1em;
    min-width: 100px;
    display: block;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 10px;
    box-shadow: none !important;

    &:hover,
    &:focus {
        background-color: darken($primary-background-color, 6.5%);
        color: $primary-color !important;
        box-shadow: none !important;
    }
}

.adsense {
    margin-bottom: 24px;
}

button {
    background: none;
    color: #222;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.3);
    padding: 10px 20px;
    margin: 0 7px;

    &:hover {
        box-shadow: 2px 2px 7px -1px rgba(0,0,0,.3);
        background: $primary-background-color;
        color: $primary-color;
        opacity: 0.8;
    }

    &.active {
        background: $primary-background-color;
        color: $primary-color;
        cursor: default;

        &:hover {
            box-shadow: 1px 1px 4px -1px rgba(0,0,0,.3);
        }
    }
}

@media screen and (min-width: $screen-sm) {
    .wrap {
        padding: 0 $gutter-d;
    }

    .site-content {
        padding: 2.5em 0;
    }

    .page.page-one-column .entry-header {
        margin-bottom: 1em
    }
}
